<div class="bg-gray-900 pt-10 sm:pt-16 lg:overflow-hidden lg:pt-8 lg:pb-14">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="mx-auto max-w-md px-6 sm:max-w-2xl sm:text-center lg:flex lg:items-center lg:px-0 lg:text-left">
          <div class="lg:py-24">
            <a href="<%= top100_short_urls_path %>" class="inline-flex items-center rounded-full bg-black p-1 pr-2 text-white hover:text-gray-200 sm:text-base lg:text-sm xl:text-base">
              <span class="rounded-full bg-gradient-to-r from-teal-500 to-cyan-600 px-3 py-0.5 text-sm font-semibold leading-5 text-white">TOP 100</span>
              <span class="ml-4 text-sm">Check the most visited urls</span>
              <!-- Heroicon name: mini/chevron-right -->
              <svg class="ml-2 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </a>
            <h1 class="mt-4 text-4xl font-bold tracking-tight text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
              <span class="block">Link up with ShortyLink</span>
              <span class="block bg-gradient-to-r from-teal-200 to-cyan-400 bg-clip-text pb-3 text-transparent sm:pb-5">the ultimate URL shortener</span>
            </h1>
            <%= turbo_frame_tag "alert" %>
            <%= render Shorty::UrlBoxComponent.new %>
            <%= render Shorty::UrlResultBoxComponent.new %>
          </div>
        </div>
    </div>
</div>

<!-- Feature section with screenshot -->
<div class="relative bg-gray-50 pt-16 sm:pt-24 lg:pt-32">

</div>
