<div data-controller="shorty--url-box-component--url-box-component"
     class="mt-10 sm:mt-12">
  <form action="#" class="sm:mx-auto sm:max-w-xl lg:mx-0">
    <div class="sm:flex">
      <%= render Shorty::UrlInputComponent.new %>
      <%= render Shorty::UrlButtonComponent.new %>
    </div>
  </form>
</div>
