<div data-controller="shorty--url-result-box-component--url-result-box-component"
     class="mt-8 overflow-hidden bg-white shadow sm:rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    <%= turbo_frame_tag "short_url", target: '_top' %>
  </ul>
</div>
