
<div
  data-main-navigation-component--main-navigation-component-target="menuContainer"
  data-transition-enter="transition ease-out duration-150"
  data-transition-enter-start="transform opacity-0 scale-95"
  data-transition-enter-end="transform opacity-100 scale-100"
  data-transition-leave="transition ease-in duration-100"
  data-transition-leave-start="transform opacity-100 scale-100"
  data-transition-leave-end="transform opacity-0 scale-95"
  class="hidden absolute inset-x-0 top-0 origin-top transform p-2 transition md:hidden">
  <div
    class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-black ring-opacity-5">
    <div class="flex items-center justify-between px-5 pt-4">
      <div>
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?from-color=teal&from-shade=500&to-color=cyan&to-shade=600&toShade=600"
          alt="">
      </div>
      <div class="-mr-2">
        <button
          type="button"
          data-main-navigation-component--main-navigation-component-target="closeMenu"
          class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-600">
          <span class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x-mark -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
    <div class="pt-5 pb-6">
      <div class="space-y-1 px-2">
        <a
          href="<%= root_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Home</a>

        <a
          href="<%= top100_short_urls_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Top 100</a>
      </div>
    </div>
  </div>
</div>
