<div data-controller="shorty--url-input-component--url-input-component"
     class="min-w-0 flex-1">
  <label for="url" class="sr-only">URL to reduce</label>
  <input id="url" type="url" placeholder="URL to reduce" class="block w-full rounded-md border-0 px-4 py-3 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2 focus:ring-offset-gray-900">
</div>
